---
layout: default
---
<section class="intro">
  <p>I'm a senior .NET backend engineer in Lisbon. I've spent more than twelve years building APIs, event-driven services and migrations of old systems onto current .NET, most of it for banks.</p>
  <p>This year I'm building open-source projects in public, starting with an event-sourced <a href="https://github.com/softvasco/ledger-core">ledger</a> and a <a href="https://github.com/softvasco/payee-match">name matcher</a>. When something in them takes more thought than expected, I write it up here.</p>
</section>

<ul class="posts">
  {% for post in site.posts %}
  <li>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
    <div>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% if post.description %}<p>{{ post.description }}</p>{% endif %}
    </div>
    <span class="repo">{{ post.repo }}</span>
  </li>
  {% endfor %}
</ul>
